name: CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd aws-free-tier-cicd-pipeline
            git pull origin main
            docker build -t myapp:latest ./app
            docker stop myapp || true
            docker rm myapp || true
            docker run -d -p 80:5000 --name myapp myapp:latest
